@model IEnumerable<Garage_ManagementFinal.Entry_Form>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>View All Cars</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card-body ">
    <table id="datatablesSimple">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Owner_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.region)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alpha)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.plate_no)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.region)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alpha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.plate_no)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>

                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
    $(document).ready(function () {
        $('#datatablesSimple').DataTable({
            "ordering": false
        });

    });
    </script>
