@model Garage_ManagementFinal.recipt

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>recipt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_Fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_Fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plate_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plate_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tot_withvat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tot_withvat)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
