@model Garage_ManagementFinal.recipt

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

<h2>Details</h2>

<div>
    <h4>reciept</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_Fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_Fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plate_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plate_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tot_withvat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tot_withvat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
