@model Garage_ManagementFinal.recipt

@{
    ViewBag.Title = "SearchForm";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
    string codes = "";
}
@{

    if (TempData["SuccessMessage"] != null)
    {
        <p class="alert alert-danger">
            @TempData["SuccessMessage"]
        </p>
    }
}
<h2>Search by Name</h2>

@using (Html.BeginForm("SearchForname", "reciepts"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>recipt</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">

            <label for="codes">code</label>
            <div class="col-md-5">
                @Html.DropDownList("code", Enum.GetValues(typeof(code)).Cast<code>().Select(e => new SelectListItem { Text = e.ToString() }), "Select a code", new { @id = "code", @class = "form-control" })

            </div>


            <label for="codes">regions</label>
            <div class="col-md-5">
                @Html.DropDownList("region", Enum.GetValues(typeof(region)).Cast<region>().Select(e => new SelectListItem { Text = e.ToString() }), "Select a regions", new { @id = "region", @class = "form-control" })

            </div>
            <label for="Alpha">regions</label>
            <div class="form-group">

                <div class="col-md-5">
                    @Html.DropDownList("Alpa", Enum.GetValues(typeof(Alpa)).Cast<Alpa>().Select(e => new SelectListItem { Text = e.ToString() }), "Select a Alpha", new { @id = "Alpa", @class = "form-control" })

                </div>
            </div>

        </div>
        <label> Plate Number</label>
        <div class="col-md-5">

            <input type="text" name="plate_no" id="plate_no" class="form-control" />
            @Html.ValidationMessageFor(model => model.Plate_no, "", new { @class = "text-danger" })
        </div>

    </div>


    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-info" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
